*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
  font-family: "Georgia", serif;
  

}
.navdiv{

    position: sticky;
    top:0%;
    z-index: 10001;
    background-color:#fdf8f2;
    width: 100%;
    height: 120px;
    padding: 10px;
   display: flex;
   /* border-bottom:2px solid #7aa5aa; */
   justify-content: space-evenly;
}
.logo{
    margin:2px;
}

.navdiv a{
   text-decoration: none;
    font:normal normal bold 17px 'Georgia';
    color: black;
}

ul {
  display: flex;
  align-items: center;
  gap: 20px;
}


li{
    margin: 60px 40px 40px 50px;

} 
li:hover{
    font:normal normal bolder 26px 'Verdana';
    text-decoration: underline ;
    
}
.icon{
    font:normal normal bold 19px 'Verdana';
    color: black;
    margin-top: 45px ; 
    margin-right:20px;
}
.icon:hover{
    font:normal normal bolder 30px 'Verdana' ;
}
 li a{
    text-decoration: none;
    
 }
   #intro{
   
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
}
 .brands{
  /* margin: 0%; */
  padding: 70px;
  height: 450px;
  background-color: #d4cbc3;
 }
 /* .brands h1{
  /* margin: 90px; */

/*
 } */
 .brandLogo {
  margin: 60px 110px;
  display: inline-flex;
  /* justify-content: space-evenly; */
   border-radius: 60%;  
 }

.brandLogo img{
   /* justify-content: space-evenly; */
  border: #000000 solid 2px;
 border-radius: 60%;
  

}
.brandLogo img :hover{
 box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.788);}

 .imge{
height: 200px;
/* color: #000000d9; */
 }
 .imge img{
    display: inline-block; 
    margin: 5px 5px 0px 5px; 
    object-fit: cover; 
    width: 150px; 
    height: 150px; 
    border: 2px solid #484848f2; 
    border-radius: 5px; 
}
.imge:hover {
    height: 220px;
  background-color: #fdf8f2;
  transform: scale(1.1); 
  box-shadow: 0 4px 8px #000000; 
  border-radius: 5px;
 }

.imgname{
    margin: 25px;
    font-size: large;
    font-weight: bolder;
    text-align: center;
  color: #000000;
  /* text-shadow:  0 4px 8px #242222fb; */

}


.logo2 {
  margin-left: 50px;;
   margin-top: 50px;
  font-size: 2px;
  font-weight: bolder;
  color: black;
}
.footer-container {
    margin: 0%;
  padding: 0 40px;
background-color: #fdf8f2;
margin-top: -30px;
}
.footer-container a{
  text-decoration: none;
}
.footer-wrapper {
  /* flex: 1; */
  top: 90px;
  position: absolute;
  left: 20px;
  right: 20px;
}
.Icon{
  margin-left:60px ;
}
.flex-wrapper {
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
  position: relative;
}
.flex-wrapper ul li {
  margin: 0.5rem 0;
}
.footer-list {
     justify-content: space-between;
  margin: 0 auto;
  display: flex;
  margin-left: 280px;
  padding:3%;
  gap: 100px;
}
.footer-list div{
display: inline-block;
margin-top: 10px;
  margin-left: 70px;

 gap: 100px;
}
.footer-list div ul{
  list-style: none;
    display: inline;
}

h3 {
  font-size: 18px;
  color: #000000
}
.footer-link {
  color: black;
  font-size: 14px;
}
.footer-link div ul li a:hover {
  color: #000000;
  font-size: medium;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.dropdown {
  /* margin-top: 15px; */
  display: none;
  position: absolute;
  background-color: #e7dddd;
  padding: 10px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}
li:hover .dropdown {
  display: block;
 box-shadow: 0 4px 8px #000000; 
  /* background-color:#c5bab2 ; */
   border: #0000004b 1px solid;
}
.dropdown table{
 border-collapse: collapse;
  padding:20px;
}
.dropdown td a{
   font-size: small;
  margin: 12px;
  padding: 10px;
}
.dropdown td :hover{

  font-size: medium;
}